name: "routing"
version: '3.8'
services:
    nginx:
        image: nginx:latest
        container_name: nginx
        restart: always
        environment:
            - TZ=${TZ}
        ports:
            - '80:80'          # HTTP
            - '443:443'        # HTTPS
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - nginx-logs:/var/log/nginx
            - nginx:/etc/nginx
        networks:
            - cmnw

    nginx-ui:
        image: 'uozi/nginx-ui:latest'
        container_name: nginx-ui
        restart: always
        ports:
            - '8090:8080'      # Nginx UI Dashboard
        environment:
            - TZ=${TZ}
            - NGINX_CONF_DIR=/etc/nginx
            - NGINX_LOG_DIR=/var/log/nginx
        volumes:
            - nginx:/etc/nginx
            - nginx-logs:/var/log/nginx
            - nginx-ui-data:/home/nginx-ui
            - nginx-ui-config:/etc/nginx-ui
            - nginx-ui-db:/var/lib/nginx-ui
        networks:
            - cmnw
        depends_on:
            - nginx

    # Nginx Exporter for Prometheus metrics
    nginx-exporter:
        image: 'nginx/nginx-prometheus-exporter:latest'
        container_name: nginx-exporter
        restart: always
        command:
            - --nginx.scrape-uri=http://128.0.0.255:80/nginx_status
        ports:
            - '9113:9113'      # Prometheus metrics
        networks:
            - cmnw
        depends_on:
            - nginx

volumes:
    nginx:
        driver: local
    nginx-logs:
        driver: local
    nginx-ui-data:
        driver: local
    nginx-ui-config:
        driver: local
    nginx-ui-db:
        driver: local

networks:
    cmnw:
        external: true
