name: 'storage'
version: '3.8'
services:
  postgres:
    image: postgres:17.4
    container_name: postgres
    restart: always
    networks:
      - storage-network
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - '5432:5432'
    volumes:
      - postgres:/var/lib/postgresql/data

  redis:
    image: redis:7.4.3-alpine
    restart: always
    container_name: redis
    command: redis-server --requirepass $REDIS_PASSWORD --appendonly yes
    volumes:
      - redis:/data:rw,z
    ports:
      - '6379:6379'
    networks:
      - storage-network

  minio:
    image: quay.io/minio/minio:RELEASE.2025-04-22T22-12-26Z
    container_name: minio
    restart: always
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    command: server /bitnami/minio/data --console-address ":9001"
    volumes:
      - minio-s3:/bitnami/minio/data
    networks:
      - storage-network
      - traefik

  bull-mq:
    image: redis:7.4.3-alpine
    restart: always
    container_name: bull-mq
    command: redis-server --requirepass $REDIS_PASSWORD --appendonly yes
    volumes:
      - bull-mq:/data:rw,z
    ports:
      - '6380:6379'
    networks:
      - storage-network

  rabbitmq:
    image: rabbitmq:4.2.2-management-alpine
    hostname: rabbitmq
    container_name: rabbitmq
    restart: always
    networks:
      - storage-network
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASSWORD}
      - RABBITMQ_DEFAULT_VHOST=cmnw
      - RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS=-rabbit log_levels [{connection,error},{default,error}] disk_free_limit 2147483648
    volumes:
      - rabbitmq:/var/lib/rabbitmq
    ports:
      - "15672:15672"
      - "5672:5672"

networks:
  storage-network:
    driver: bridge
  traefik:
    external: true

volumes:
  postgres:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/mnt/postgres'
  rabbitmq:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/mnt/rabbitmq'
  redis:
  bull-mq:
  minio-s3:
    driver: local

